 <!-- start footer --> 
        <footer class="footer-light half-footer container">  
            <div class="container">
                <div class="row flex-lg-row flex-column align-items-center">
                    <!-- start footer column -->
                    <div class="col-auto text-center text-lg-start md-mb-20px"> 
                        <a href="demo-ebook.html" class="footer-logo d-inline-block"><img src="images/logo-second.webp" data-at2x="images/logo-second.webp" alt=""></a>
                            
                        <ul class="medium-icon dark d-flex justify-content-center align-items-center flex-row mt-1 elements-social social-icon-style-08 ps-6">
                            <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a class="linkedin" href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>  
                            <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>  
                            <li><a class="youtube" href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-youtube"></i></a></li> 
                            <li><a class="pinterest" href="http://www.dribbble.com" target="_blank"><i class="fa-brands fa-pinterest"></i></a></li>
                        </ul>
                        
                    </div> 
                    <!-- end footer column -->
                    <!-- start footer column -->
                    <div class="col text-center text-lg-end mt-6">  
                        <ul class="footer-navbar fw-500 lh-normal"> 
                            <li class="nav-item"><a href="#subscribe" class="inner-link nav-link text-base-color">Contact us</a></li>
                            <li class="nav-item"><a href="#pricing" class="inner-link nav-link text-base-color">Product care</a></li>
                            <li class="nav-item"><a href="#contact" class="inner-link nav-link text-base-color">About us </a></li>
                        </ul> 
                    </div>
                    <!-- end footer column -->
                </div>
                <div class="row  align-items-center pt-40px md-pt-30px">
                    <div class="col-12 mb-40px md-mb-35px">
                        <!-- start divider -->
                        <div class="divider-style-03 divider-style-03-01 border-color-transparent-dark-very-light"></div>
                        <!-- end divider -->
                    </div>
                    <!-- start footer column -->
                    <div class="col-xl-6 col-md-8 fs-13 text-center text-md-start last-paragraph-no-margin lh-24 order-2 order-md-1 sm-mt-15px">
                        <p class="mb-0">© 2025 MNR Jewels. All Rights Reserved.</p>
                    </div>
                    <!-- end footer column -->
                    <!-- start footer column -->
                    <div class="col-xl-6 col-md-5 text-center text-md-end elements-social social-icon-style-08 order-1 order-md-2">
                        <ul class="footer-navbar fw-500 lh-normal"> 
                            <li class="nav-item"><a href="#subscribe" class="inner-link nav-link">Shipping policy</a></li>
                            <li class="nav-item"><a href="#pricing" class="inner-link nav-link">Return policy</a></li>
                            <li class="nav-item"><a href="#contact" class="inner-link nav-link">Privacy policy </a></li>
                            <li class="nav-item"><a href="#contact" class="inner-link nav-link">T&C </a></li>
                        </ul> 
                    </div>
                    <!-- end footer column -->
                </div>
            </div>
        </footer>
        <!-- end footer --> 