 <!-- start footer --> 
        <!-- start section -->
        <footer class="p-2 position-relative bg-base-color d-flex justify-content-center align-items-center">

                   

            <div class="container-fluid p-0">
                <div class="row row-cols-3 row-cols-md-6 instagram-follow-api position-relative g-6 d-flex justify-content-center align-items-center">
                    <div class="col instafeed-grid ">
                        <figure class="border-radius-10px"><a href="https://www.instagram.com/mnrjewels?igsh=MTg2dGVmc3oxZW5ocA==" target="_blank"><img src="/images/insta-samp-post-1.jpg" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>  
                    <div class="col instafeed-grid ">
                        <figure class="border-radius-10px"><a href="https://www.instagram.com/mnrjewels?igsh=MTg2dGVmc3oxZW5ocA==" target="_blank"><img src="/images/insta-samp-post-2.jpg" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                    <div class="col instafeed-grid ">
                        <figure class="border-radius-10px"><a href="https://www.instagram.com/mnrjewels?igsh=MTg2dGVmc3oxZW5ocA==" target="_blank"><img src="/images/insta-samp-post-3.jpg" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                    <div class="col instafeed-grid ">
                        <figure class="border-radius-10px"><a href="https://www.instagram.com/mnrjewels?igsh=MTg2dGVmc3oxZW5ocA==" target="_blank"><img src="/images/insta-samp-post-4.jpg" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                    <div class="col instafeed-grid ">
                        <figure class="border-radius-10px"><a href="https://www.instagram.com/mnrjewels?igsh=MTg2dGVmc3oxZW5ocA==" target="_blank"><img src="/images/insta-samp-post-4.jpg" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                    <div class="col instafeed-grid ">
                        <figure class="border-radius-10px"><a href="https://www.instagram.com/mnrjewels?igsh=MTg2dGVmc3oxZW5ocA==" target="_blank"><img src="/images/insta-samp-post-4.jpg" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                
                  
                    <a href="https://www.instagram.com/mnrjewels?igsh=MTg2dGVmc3oxZW5ocA==" target="_blank" class="instagram-button alt-font absolute-middle-center bg-white w-120px h-120px md-w-90px md-h-90px text-dark-gray border-radius-100px box-shadow-extra-large d-flex align-items-center justify-content-center"><i class="feather icon-feather-instagram icon-medium"></i></a>
                </div> 
            </div>
        </footer>
        <!-- end section -->

      
      
      <footer class=" p-4 d-flex justify-content-between " style="margin-bottom: -4rem; background-color: #9FA878">
            <div class="container col-12  d-flex justify-content-between" >
                 <div class="footer-light half-footer col-auto text-center text-lg-start md-mb-20px d-flex justify-content-between align-items-center flex-column"> 
                        <a href="demo-ebook.html" class="footer-logo d-inline-block mb-5"><img src="/images/logo-second.webp" data-at2x="/images/logo-second.webp" alt=""></a>
                            
                        <ul class="medium-icon dark d-flex justify-content-center align-items-center flex-row mt-7 elements-social social-icon-style-08 ">
                            <li class="ps-10px"><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f text-white fs-30"></i></a></li>
                            <li class="ps-10px"><a class="linkedin" href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-linkedin text-white fs-30"></i></a></li>  
                            <li class="ps-10px"><a class="instagram text-white" href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram text-white fs-30"></i></a></li>  
                            <li class="ps-10px"><a class="youtube" href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-youtube text-white fs-30"></i></a></li> 
                            <li class="ps-10px"><a class="pinterest" href="http://www.dribbble.com" target="_blank"><i class="fa-brands fa-pinterest text-white fs-30"></i></a></li>
                        </ul>
                        
                    </div> 
                <div class="row  justify-content-between align-items-end flex-column" style="margin-right: 2rem;">
                    <div class="col-lg-12 icon-with-text-style-01 md-mb-20px" data-anime='{ "translateX": [-50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                        <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                            <div class="feature-box-content">
                                <h2 class="alt-font ls-minus-1px text-dark-gray  primary-text  text-white mb-1 " style="font-size: 25px;" >Early access, real offers, trusted updates only!</h2>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" data-anime='{ "translateX": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }' > 
                        <div class="newsletter-style-04 position-relative " >
                            <form action="email-templates/subscribe-newsletter.php" method="post" class="position-relative w-100">
                                <div class="position-relative">
                                    <input class="p-2 input-large alt-font w-100 border-0 border-bottom border-1 border-color-dark-gray form-control required" type="email" name="email" placeholder="Enter your email address" style="border-radius: 10px;"  />
                                    <input type="hidden" name="redirect" value="" >
                                    <button class="btn hover-first p-2 fw-500 submit text-capitalize text-base-color border border-radius-10px bg-base-color text-white ">SUBSCRIBE</button>
                                </div>
                                <div class="form-results border-radius-0px p-15px fs-16 lh-24 w-100 text-center d-none"></div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-12 icon-with-text-style-01 md-mb-20px" data-anime='{ "translateX": [-50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                        <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                           
                            <div class="feature-box-content">
                               
                                <p class="text-white  mb-0  text-end fs-20">Get early access to new drops, indulgent offers, care tips, and <br/>member-only surprises. Redefining the luxury space for you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </footer> 
        
        
        <footer class="footer-light half-footer container pt-0 pb-0">  
            
            <div class="container">
                <div class="row flex-lg-row flex-column align-items-center">



                    <!-- start footer column -->
                    
                    <!-- end footer column -->
                    <!-- start footer column -->
                    <div class="col text-center d-flex justify-content-between  mt-5">  
                         
                        <ul class="footer-navbar fw-500 lh-normal"> 
                            <li class="nav-item"><a href="/contact" class="inner-link nav-link text-base-color">Contact us</a></li>
                            <li class="nav-item"><a href="/product-care" class="inner-link nav-link text-base-color">Product care</a></li>
                            <li class="nav-item"><a href="/about" class="inner-link nav-link text-base-color">About us </a></li>
                        </ul> 
                        <ul class="footer-navbar fw-500 lh-normal"> 
                            <li class="nav-item"><a href="/shipping-policy" class="inner-link nav-link">Shipping policy</a></li>
                            <li class="nav-item"><a href="/refund-policy" class="inner-link nav-link">Return policy</a></li>
                            <li class="nav-item"><a href="/privacy-policy" class="inner-link nav-link">Privacy policy </a></li>
                            <li class="nav-item"><a href="/terms" class="inner-link nav-link">Terms & Conditions </a></li>
                        </ul> 
                    </div>
                    <!-- end footer column -->
                </div>
                <div class="row  align-items-center ">
                    <div class="col-12 ">
                        <!-- start divider -->
                        <div class="divider-style-03 divider-style-03-01 border-color-transparent-dark-very-light mb-1"></div>
                        <p class="mb-0 text-center mb-1">© 2025 MNR Jewels. All Rights Reserved.</p>
                        <!-- end divider -->
                    </div>
                   
                    <!-- end footer column -->
                  
                </div>
            </div>
        </footer>
        <!-- end footer --> 