<header class="header-with-topbar">
  <!-- start header top bar -->
 <div class="header-top-bar top-bar-light bg-dark-gray disable-fixed md-border-bottom border-color-transparent-dark-very-light">
  <div class="container-fluid">
    <div class="row h-40px align-items-center m-0">
      <div class="col-12">
        
        <div class="d-flex justify-content-between align-items-center w-100">

          <!-- LEFT SECTION -->
          <div class="topbar-left text-white alt-font">
            <a href="#" class="text-white text-decoration-underline">FAQs</a>
          </div>

          <!-- CENTER SLIDER SECTION -->
          <div class="topbar-center flex-grow-1 text-center position-relative">
            <div class="topbar-wrapper d-inline-block">
              <div class="topbar-inner">
                <div class="slide-item">Hypoallergenic • fine 925 silver • 6 months warranty</div>
                <div class="slide-item">Pan India shipping</div>
                <div class="slide-item">
                  <a href="#" class="text-white text-decoration-underline">
                    Curated gifts for him & her from ₹499
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- RIGHT SECTION -->
          <div class="topbar-right">
            <a href="#" class="text-white">
              <i class="bi bi-whatsapp fs-5"></i>
            </a>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>


  <!-- end header top bar -->
  <!-- start navigation -->
  <nav class="navbar navbar-expand-lg header-light bg-white disable-fixed">
    <div class="container-fluid">
      <div class="col-auto d-flex align-items-center">
        <div class="header-icon">
          <div class="header-push-button icon">
            <div class="push-button">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
        <a class="navbar-brand ms-3" href="demo-magazine.html">
          <img
            src="images/logomain.webp"
            data-at2x="images/logomain.webp"
            alt=""
            class="default-logo"
          />
          <img
            src="images/logomain.webp"
            data-at2x="images/logomain.webp"
            alt=""
            class="alt-logo"
          />
          <img
            src="images/logomain.webp"
            data-at2x="images/logomain.webp"
            alt=""
            class="mobile-logo"
          />
        </a>
      </div>
      <div class="col ms-auto d-flex justify-content-end">
        <button
          class="navbar-toggler float-start"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-center align-items-center" id="navbarNav">
          <ul class="navbar-nav alt-font">
            <li class="nav-item"><a
                href="demo-jewellery-store.html"
                class="nav-link"
              >Home</a></li>
            <li class="nav-item dropdown submenu">
              <a href="demo-jewellery-store-shop.html" class="nav-link">Shop</a>
              <i
                class="fa-solid fa-angle-down dropdown-toggle"
                id="navbarDropdownMenuLink1"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              ></i>
              <div
                class="dropdown-menu submenu-content"
                aria-labelledby="navbarDropdownMenuLink1"
              >
                <div class="d-lg-flex mega-menu m-auto flex-column">
                  <div class="row row-cols-1 row-cols-lg-5 mb-50px md-mb-20px">
                    <div class="col md-mb-5px">
                      <ul>
                        <li class="sub-title">Rings</li>
                        <li><a href="#">Engagement</a></li>
                        <li><a href="#">Gold rings</a></li>
                        <li><a href="#">Casual rings</a></li>
                        <li><a href="#">Silver rings</a></li>
                        <li><a href="#">Platinum rings</a></li>
                        <li><a href="#">Diamond rings</a></li>
                      </ul>
                    </div>
                    <div class="col md-mb-5px">
                      <ul>
                        <li class="sub-title">Earrings</li>
                        <li><a href="#">Jhumkas</a></li>
                        <li><a href="#">Barbells</a></li>
                        <li><a href="#">Hug hoops</a></li>
                        <li><a href="#">Tear drop</a></li>
                        <li><a href="#">Suidhaga</a></li>
                        <li><a href="#">Gemstone</a></li>
                      </ul>
                    </div>
                    <div class="col md-mb-5px">
                      <ul>
                        <li class="sub-title">Necklaces</li>
                        <li><a href="#">Bib necklece</a></li>
                        <li><a href="#">Collar necklece</a></li>
                        <li><a href="#">Rope necklece</a></li>
                        <li><a href="#">Locket necklece</a></li>
                        <li><a href="#">Chain necklece</a></li>
                        <li><a href="#">Opera nacklece</a></li>
                      </ul>
                    </div>
                    <div class="col md-mb-5px">
                      <ul>
                        <li class="sub-title">Pendants</li>
                        <li><a href="#">Alphabet</a></li>
                        <li><a href="#">Mangalsutra</a></li>
                        <li><a href="#">Religious</a></li>
                        <li><a href="#">Diamond</a></li>
                        <li><a href="#">Heart shaped</a></li>
                        <li><a href="#">Gemstone</a></li>
                      </ul>
                    </div>
                    <div class="col">
                      <ul>
                        <li class="sub-title">Breslet</li>
                        <li><a href="#">Caratlane chain</a></li>
                        <li><a href="#">Oval bracelets</a></li>
                        <li><a href="#">Pearl bracelets</a></li>
                        <li><a href="#">Charm bracelets</a></li>
                        <li><a href="#">Silver brcelets</a></li>
                        <li><a href="#">Tennis bracelets</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="row row-cols-1 row-cols-md-2">
                    <div class="col">
                      <a href="demo-jewellery-store-shop.html"><img
                          src="https://via.placeholder.com/580x160"
                          class="border-radius-4px w-100"
                          alt=""
                        /></a>
                    </div>
                    <div class="col">
                      <a href="demo-jewellery-store-shop.html"><img
                          src="https://via.placeholder.com/580x160"
                          class="border-radius-4px w-100"
                          alt=""
                        /></a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown submenu">
              <a
                href="demo-jewellery-store-categories.html"
                class="nav-link"
              >Categories</a>
              <i
                class="fa-solid fa-angle-down dropdown-toggle"
                id="navbarDropdownMenuLink2"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              ></i>
              <div
                class="dropdown-menu submenu-content"
                aria-labelledby="navbarDropdownMenuLink2"
              >
                <div class="mega-menu m-auto">
                  <div class="row md-m-0">
                    <div class="col-12 col-lg-9">
                      <div
                        class="row row-cols-1 row-cols-lg-4 align-items-center justify-content-center"
                      >
                        <div
                          class="col mb-20px md-mb-10px text-start text-lg-center"
                        >
                          <a
                            href="demo-jewellery-store-categories.html"
                            class="d-none d-lg-block"
                          >
                            <img
                              src="https://via.placeholder.com/190x140"
                              class="border-radius-4px mb-5px"
                              alt=""
                            />
                          </a>
                          <a
                            href="demo-jewellery-store-categories.html"
                            class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0 text-start text-lg-center"
                          >
                            <span>
                              <span
                                class="btn-text text-dark-gray fs-17 flex-shrink-0"
                              >Rings</span>
                              <span class="btn-icon"><i
                                  class="fa-solid fa-arrow-right icon-very-small w-auto"
                                ></i></span>
                            </span>
                          </a>
                        </div>
                        <div
                          class="col mb-20px md-mb-10px text-start text-lg-center"
                        >
                          <a
                            href="demo-jewellery-store-categories.html"
                            class="d-none d-lg-block"
                          >
                            <img
                              src="https://via.placeholder.com/190x140"
                              class="border-radius-4px mb-5px"
                              alt=""
                            />
                          </a>
                          <a
                            href="demo-jewellery-store-categories.html"
                            class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0 text-start text-lg-center"
                          >
                            <span>
                              <span
                                class="btn-text text-dark-gray fs-17 flex-shrink-0"
                              >Bracelet</span>
                              <span class="btn-icon"><i
                                  class="fa-solid fa-arrow-right icon-very-small w-auto"
                                ></i></span>
                            </span>
                          </a>
                        </div>
                        <div
                          class="col mb-20px md-mb-10px text-start text-lg-center"
                        >
                          <a
                            href="demo-jewellery-store-categories.html"
                            class="d-none d-lg-block"
                          >
                            <img
                              src="https://via.placeholder.com/190x140"
                              class="border-radius-4px mb-5px"
                              alt=""
                            />
                          </a>
                          <a
                            href="demo-jewellery-store-categories.html"
                            class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0 text-start text-lg-center"
                          >
                            <span>
                              <span
                                class="btn-text text-dark-gray fs-17 flex-shrink-0"
                              >Earrings</span>
                              <span class="btn-icon"><i
                                  class="fa-solid fa-arrow-right icon-very-small w-auto"
                                ></i></span>
                            </span>
                          </a>
                        </div>
                        <div
                          class="col mb-20px md-mb-10px text-start text-lg-center"
                        >
                          <a
                            href="demo-jewellery-store-categories.html"
                            class="d-none d-lg-block"
                          >
                            <img
                              src="https://via.placeholder.com/190x140"
                              class="border-radius-4px mb-5px"
                              alt=""
                            />
                          </a>
                          <a
                            href="demo-jewellery-store-categories.html"
                            class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0 text-start text-lg-center"
                          >
                            <span>
                              <span
                                class="btn-text text-dark-gray fs-17 flex-shrink-0"
                              >Necklace</span>
                              <span class="btn-icon"><i
                                  class="fa-solid fa-arrow-right icon-very-small w-auto"
                                ></i></span>
                            </span>
                          </a>
                        </div>
                        <div class="col md-mb-10px text-start text-lg-center">
                          <a
                            href="demo-jewellery-store-categories.html"
                            class="d-none d-lg-block"
                          >
                            <img
                              src="https://via.placeholder.com/190x140"
                              class="border-radius-4px mb-5px"
                              alt=""
                            />
                          </a>
                          <a
                            href="demo-jewellery-store-categories.html"
                            class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0 text-start text-lg-center"
                          >
                            <span>
                              <span
                                class="btn-text text-dark-gray fs-17 flex-shrink-0"
                              >Pendants</span>
                              <span class="btn-icon"><i
                                  class="fa-solid fa-arrow-right icon-very-small w-auto"
                                ></i></span>
                            </span>
                          </a>
                        </div>
                        <div class="col md-mb-10px text-start text-lg-center">
                          <a
                            href="demo-jewellery-store-categories.html"
                            class="d-none d-lg-block"
                          >
                            <img
                              src="https://via.placeholder.com/190x140"
                              class="border-radius-4px mb-5px"
                              alt=""
                            />
                          </a>
                          <a
                            href="demo-jewellery-store-categories.html"
                            class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0 text-start text-lg-center"
                          >
                            <span>
                              <span
                                class="btn-text text-dark-gray fs-17 flex-shrink-0"
                              >Watches</span>
                              <span class="btn-icon"><i
                                  class="fa-solid fa-arrow-right icon-very-small w-auto"
                                ></i></span>
                            </span>
                          </a>
                        </div>
                        <div class="col md-mb-10px text-start text-lg-center">
                          <a
                            href="demo-jewellery-store-categories.html"
                            class="d-none d-lg-block"
                          >
                            <img
                              src="https://via.placeholder.com/190x140"
                              class="border-radius-4px mb-5px"
                              alt=""
                            />
                          </a>
                          <a
                            href="demo-jewellery-store-categories.html"
                            class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0 text-start text-lg-center"
                          >
                            <span>
                              <span
                                class="btn-text text-dark-gray fs-17 flex-shrink-0"
                              >Necklace</span>
                              <span class="btn-icon"><i
                                  class="fa-solid fa-arrow-right icon-very-small w-auto"
                                ></i></span>
                            </span>
                          </a>
                        </div>
                        <div class="col text-start text-lg-center">
                          <a
                            href="demo-jewellery-store-categories.html"
                            class="d-none d-lg-block"
                          >
                            <img
                              src="https://via.placeholder.com/190x140"
                              class="border-radius-4px mb-5px"
                              alt=""
                            />
                          </a>
                          <a
                            href="demo-jewellery-store-categories.html"
                            class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0 text-start text-lg-center"
                          >
                            <span>
                              <span
                                class="btn-text text-dark-gray fs-17 flex-shrink-0"
                              >Chain</span>
                              <span class="btn-icon"><i
                                  class="fa-solid fa-arrow-right icon-very-small w-auto"
                                ></i></span>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4 d-none d-lg-flex">
                      <div>
                        <a href="demo-jewellery-store-categories.html"><img
                            src="https://via.placeholder.com/290x380"
                            class="border-radius-4px"
                            alt=""
                          /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown simple-dropdown">
              <a href="javascript:void(0);" class="nav-link">Pages</a>
              <i
                class="fa-solid fa-angle-down dropdown-toggle"
                id="navbarDropdownMenuLink3"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              ></i>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink3"
              >
                <li><a href="demo-jewellery-store-about.html">About</a></li>
                <li><a href="demo-jewellery-store-faq.html">Faq</a></li>
                <li><a
                    href="demo-jewellery-store-wishlist.html"
                  ><i class="fa-regular fa-heart"></i></a></li>
                <li><a href="demo-jewellery-store-account.html"><i class="fa-regular fa-user"></i></a></li>
                <li><a href="demo-jewellery-store-cart.html">Cart</a></li>
                <li><a
                    href="demo-jewellery-store-checkout.html"
                  >Checkout</a></li>
              </ul>
            </li>
            <li class="nav-item"><a
                href="demo-jewellery-store-blog.html"
                class="nav-link"
              >Blog</a></li>
            <li class="nav-item"><a
                href="demo-jewellery-store-contact.html"
                class="nav-link"
              >Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="col-auto col-lg-2 justify-content-end ms-auto md-pe-0">
        <div class="header-icon">
          <div class="header-search-icon icon">
            <a
              href="javascript:void(0)"
              class="search-form-icon header-search-form xs-ps-10px ps-10px"
            ><i class="feather icon-feather-search"></i></a>
            <div class="search-form-wrapper">
              <button
                title="Close"
                type="button"
                class="search-close alt-font"
              >×</button>
              <form
                id="search-form"
                role="search"
                method="get"
                class="search-form text-left"
                action="search-result.html"
              >
                <div class="search-form-box">
                  <h2
                    class="text-dark-gray text-center mb-5 alt-font fw-600 ls-minus-2px"
                  >What are you looking for?</h2>
                  <input
                    class="search-input alt-font"
                    id="search-form-input5e219ef164995"
                    placeholder="Enter your keywords..."
                    name="s"
                    value=""
                    type="text"
                    autocomplete="off"
                  />
                  <button type="submit" class="search-button">
                    <i
                      class="feather icon-feather-search"
                      aria-hidden="true"
                    ></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="widget-text icon alt-font fw-500 d-none d-sm-flex">
            <a class="ps-10px" href="demo-jewellery-store-wishlist.html"><i class="fa-regular fa-heart"></i></a>
          </div>
          <div class="header-account-icon icon alt-font">
            <div class="header-account dropdown">
              <a href="javascript:void(0);" class="fw-500">
                <i
                  class="feather icon-feather-user d-inline-block d-sm-none fs-18"
                ></i>
                <span class="d-none d-sm-inline-block"><i class="fa-regular fa-user"></i></span>
              </a>
              <ul class="account-item-list">
                <li class="account-item"><a href="#">Wishlist</a></li>
                <li class="account-item"><a href="#">Order history</a></li>
                <li class="account-item"><a href="#">Account details</a></li>
                <li class="account-item"><a href="#">Customer support</a></li>
                <li class="account-item"><a href="#">Logout</a></li>
              </ul>
            </div>
          </div>
          <div class="header-cart-icon icon">
            <div class="header-cart dropdown">
              <a href="javascript:void(0);"><i
                  class="feather icon-feather-shopping-bag"
                ></i><span class="cart-count alt-font text-da">2</span></a>
              <ul class="cart-item-list">
                <li class="cart-item align-items-center">
                  <a href="javascript:void(0);" class="alt-font close">×</a>
                  <div class="product-image">
                    <a href="demo-jewellery-store-single-product.html"><img
                        src="https://via.placeholder.com/600x765"
                        class="cart-thumb"
                        alt=""
                      /></a>
                  </div>
                  <div class="product-detail alt-font">
                    <a href="demo-jewellery-store-single-product.html">Delica
                      Omtantur</a>
                    <span class="item-ammount">$100.00</span>
                  </div>
                </li>
                <li class="cart-item align-items-center">
                  <a href="javascript:void(0);" class="alt-font close">×</a>
                  <div class="product-image">
                    <a href="demo-jewellery-store-single-product.html"><img
                        src="https://via.placeholder.com/600x765"
                        class="cart-thumb"
                        alt=""
                      /></a>
                  </div>
                  <div class="product-detail alt-font">
                    <a href="demo-jewellery-store-single-product.html">Gianvito
                      Rossi</a>
                    <span class="item-ammount">$99.99</span>
                  </div>
                </li>
                <li class="cart-total">
                  <div class="alt-font mb-15px"><span
                      class="w-50"
                    >Subtotal:</span><span
                      class="w-50 text-end fw-600"
                    >$199.99</span></div>
                  <a
                    href="demo-jewellery-store-cart.html"
                    class="btn btn-large btn-transparent-base-color border-color-extra-medium-gray btn-round-edge"
                  >View cart</a>
                  <a
                    href="demo-jewellery-store-checkout.html"
                    class="btn btn-large btn-dark-gray btn-box-shadow btn-round-edge"
                  >Checkout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>


<div class="push-menu push-menu-style-2 ps-50px pe-50px pt-4 pb-4 bg-white overflow-hidden">
  <!-- Main container for menu + submenus -->
  <div class="menu-container d-flex flex-column h-100">

    <!-- Main menu list -->
    <div id="forcategory" class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px main-menu">
        <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="men">Men</a>
        </li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="women">Women</a>
        </li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="unisex">Unisex</a>
        </li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="gifting">Gifting</a>
        </li>
        <li class="nav-item">
          <a href="shop-all.html" class="nav-link">Shop all</a>
        </li>
        <li class="nav-item">
          <a href="journal.html" class="nav-link">mmr journal</a>
        </li>
      </ul>
    </div>

    <!-- Submenu for Men -->
    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="men" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="men-rings">Rings</a>
        </li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="men-bracelets">Bracelets</a>
        </li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="men-pendants">Pendants</a>
        </li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="men-earrings">Earrings</a>
        </li>
        <li class="nav-item">
          <a href="men-chains.html" class="nav-link">Chains</a>
        </li>
        <li class="nav-item">
          <a href="men-chains.html" class="nav-link">Shop all</a>
        </li>
      </ul>
    </div>

    <!-- Submenu for Women -->
    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="women" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="women-rings">Rings</a>
        </li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="women-earrings">Earrings</a>
        </li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="women-bracelets">Bracelets</a>
        </li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="women-chains">Chains</a>
        </li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="women-pendants">Pendants</a>
        </li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="women-necklaces">Necklaces</a>
        </li>
         <li class="nav-item">
          <a href="men-chains.html" class="nav-link">Shop all</a>
        </li>
      </ul>
    </div>

    <!-- Submenu for Unisex -->
    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="unisex" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="unisex-pendants">Pendants</a>
        </li>
        <li class="nav-item">
          <a href="unisex-chains.html" class="nav-link">Chains</a>
        </li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="unisex-earrings">Earrings</a>
        </li>
         <li class="nav-item">
          <a href="men-chains.html" class="nav-link">Shop all</a>
        </li>
      </ul>
    </div>

    <!-- Submenu for Gifting -->
    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="gifting" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="for-him">For him</a>
        </li>
        <li class="nav-item has-submenu">
          <a href="javascript:void(0);" class="nav-link submenu-toggle" data-submenu="for-her">For her</a>
        </li>
        <li class="nav-item">
          <a href="under-699.html" class="nav-link">Under ₹699</a>
        </li>
        <li class="nav-item">
          <a href="under-1599.html" class="nav-link">Under ₹1599</a>
        </li>
      </ul>
    </div>

    <!-- Men's Submenus -->
    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="men-rings" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item"><a href="men-rings-bands.html" class="nav-link">Bands</a></li>
        <li class="nav-item"><a href="men-rings-spin.html" class="nav-link">Spin</a></li>
        <li class="nav-item"><a href="men-rings-turkish.html" class="nav-link">Turkish</a></li>
         <li class="nav-item">
          <a href="men-chains.html" class="nav-link">Shop all</a>
        </li>
      </ul>
    </div>

    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="men-bracelets" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item"><a href="men-bracelets-everyday.html" class="nav-link">Everyday</a></li>
        <li class="nav-item"><a href="men-bracelets-turkish.html" class="nav-link">Turkish</a></li>
         <li class="nav-item">
          <a href="men-chains.html" class="nav-link">Shop all</a>
        </li>
      </ul>
    </div>

    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="men-pendants" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item"><a href="men-pendants-diamond.html" class="nav-link">Diamond</a></li>
        <li class="nav-item"><a href="men-pendants-minimal.html" class="nav-link">Minimal</a></li>
        <li class="nav-item"><a href="men-pendants-evil-eye.html" class="nav-link">Evil eye</a></li>
         <li class="nav-item">
          <a href="men-chains.html" class="nav-link">Shop all</a>
        </li>
      </ul>
    </div>

    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="men-earrings" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item"><a href="men-earrings-ball.html" class="nav-link">Ball</a></li>
        <li class="nav-item"><a href="men-earrings-studs.html" class="nav-link">Studs</a></li>
         <li class="nav-item">
          <a href="men-chains.html" class="nav-link">Shop all</a>
        </li>
      </ul>
    </div>

    <!-- Women's Submenus -->
    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="women-rings" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item"><a href="women-rings-statement.html" class="nav-link">Statement</a></li>
        <li class="nav-item"><a href="women-rings-dual.html" class="nav-link">Dual</a></li>
        <li class="nav-item"><a href="women-rings-spin.html" class="nav-link">Spin</a></li>
        <li class="nav-item"><a href="women-rings-diamond.html" class="nav-link">Diamond</a></li>
        <li class="nav-item"><a href="women-rings-band.html" class="nav-link">Band</a></li>
        <li class="nav-item"><a href="women-rings-gemstone.html" class="nav-link">Gemstone</a></li>
         <li class="nav-item">
          <a href="men-chains.html" class="nav-link">Shop all</a>
        </li>
      </ul>
    </div>

    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="women-earrings" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item"><a href="women-earrings-statement.html" class="nav-link">Statement</a></li>
        <li class="nav-item"><a href="women-earrings-earring-pendant.html" class="nav-link">Earring & Pendant</a></li>
        <li class="nav-item"><a href="women-earrings-ball.html" class="nav-link">Ball</a></li>
        <li class="nav-item"><a href="women-earrings-stud.html" class="nav-link">Stud</a></li>
         <li class="nav-item">
          <a href="men-chains.html" class="nav-link">Shop all</a>
        </li>
      </ul>
    </div>

    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="women-bracelets" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item"><a href="women-bracelets-everyday.html" class="nav-link">Everyday</a></li>
        <li class="nav-item"><a href="women-bracelets-tennis.html" class="nav-link">Tennis</a></li>
         <li class="nav-item">
          <a href="men-chains.html" class="nav-link">Shop all</a>
        </li>
      </ul>
    </div>

    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="women-pendants" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item"><a href="women-pendants-earring-pendant.html" class="nav-link">Earring & Pendant</a></li>
        <li class="nav-item"><a href="women-pendants-minimal.html" class="nav-link">Minimal</a></li>
        <li class="nav-item"><a href="women-pendants-evil-eye.html" class="nav-link">Evil eye</a></li>
         <li class="nav-item">
          <a href="men-chains.html" class="nav-link">Shop all</a>
        </li>
      </ul>
    </div>

    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="women-necklaces" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item"><a href="women-necklaces-pendant.html" class="nav-link">Pendant necklaces</a></li>
         <li class="nav-item">
          <a href="men-chains.html" class="nav-link">Shop all</a>
        </li>
      </ul>
    </div>

    <!-- Unisex Submenus -->
    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="unisex-pendants" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item"><a href="unisex-pendants-minimal.html" class="nav-link">Minimal</a></li>
        <li class="nav-item"><a href="unisex-pendants-evil-eye.html" class="nav-link">Evil eye</a></li>
         <li class="nav-item">
          <a href="men-chains.html" class="nav-link">Shop all</a>
        </li>
      </ul>
    </div>

    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="unisex-earrings" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item"><a href="unisex-earrings-balls.html" class="nav-link">Balls</a></li>
        <li class="nav-item"><a href="unisex-earrings-studs.html" class="nav-link">Studs</a></li>
         <li class="nav-item">
          <a href="men-chains.html" class="nav-link">Shop all</a>
        </li>
      </ul>
    </div>

    <!-- Gifting Submenus -->
    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="for-him" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item"><a href="gifting-for-him.html" class="nav-link">All gifts for him</a></li>
      </ul>
    </div>

    <div class="hamburger-menu menu-list-wrapper w-90 lg-w-100 lg-no-margin submenu-panel" data-menu="for-her" style="display:none;">
      <ul class="text-dark-gray menu-item-list alt-font fw-700 ls-minus-1px submenu">
        <li class="nav-item back-button"><a href="javascript:void(0);" class="nav-link">← Back</a></li>
        <li class="nav-item"><a href="gifting-for-her.html" class="nav-link">All gifts for her</a></li>
      </ul>
    </div>

  </div>
</div>
! <div class="menu-overlay"></div> 

</header>