       <!-- start section -->
            <section class="position-relative md-pt-0">
                <div class="container">
                    <div class="row justify-content-center mb-8 md-mb-0">
                     
                        <div class="col-lg-4 col-md-5 col-sm-11 offset-lg-0 offset-sm-1 sm-mb-30px">
                            <div class="outside-box-left-5 md-outside-box-left-0 position-relative">
                                <img src="https://via.placeholder.com/480x650" class="w-100 position-relative z-index-1 border-radius-6px" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)" alt="">
                                <img src="https://via.placeholder.com/160x220" class="position-absolute top-55px right-minus-150px d-none d-md-inline-block" alt="">
                                
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-end ps-60px pt-50px pb-50px lg-p-15px text-center text-md-start" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <img src="images/demo-yoga-and-meditation-about-logo.png" class="mb-20px" alt="">
                            <h4 class="alt-font text-dark-gray mb-20px ls-minus-1px">Brand story</h4>
                            <p class="w-90 lg-w-100">Amet minim mollit deserunt ullamco aliqua dolor amet sint velit officia duis consequat enim mollit.</p>
                            <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                                <div class="col-auto text-center"><h2 class="text-dark-gray alt-font fw-400 mb-0">9.81</h2></div>
                                <div class="col-auto border-start border-color-extra-medium-gray ms-25px ps-25px text-start">
                                    <div class="review-star-icon fs-18 lh-22 mb-5px">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        <span class="text-dark-gray fw-600 fs-16">25K</span>
                                    </div>
                                    <span class="d-block fs-16 lh-22 text-dark-gray primary-font">Reviewed by google.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-absolute bottom-minus-130px sm-bottom-minus-40px xs-bottom-minus-25px left-0px right-0px text-center w-100 fs-225 lg-fs-200 md-fs-170 sm-fs-150 xs-fs-100 alt-font text-very-light-gray z-index-minus-2 ls-minus-8px" data-anime='{ "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>M&R Jeweles</div>
            </section>
            <!-- end section -->
            <!-- start section -->
            <section class="position-relative overflow-hidden pt-30px md-pt-60px mt-minus-30px d-none d-md-block">
                <div class="shape-image-animation p-0 w-100"> 
                    <svg xmlns="http://www.w3.org/2000/svg" widht="auto" height="100" viewBox="0 150 3000 100">
                    <path class="st1" d="M 0 190 C 1200 400 1200 50 3000 190 L 3000 350 L 0 350 L 0 190" fill="#e9e2e3">
                    <animate
                        attributeName="d"
                        dur="8s"
                        values="M 0 190 C 1200 400 1200 50 3000 190 L 3000 350 L 0 350 L 0 190;
                        M 0 190 C 400 50 400 400 3000 190 L 3000 350 L 0 350 L 0 190;
                        M 0 190 C 1200 400 1200 50 3000 190 L 3000 350 L 0 350 L 0 190"
                        repeatCount="indefinite"
                        />
                    </path>
                    <path class="st1" d="M 0 190 C 1200 400 1200 50 3000 190 L 3000 350 L 0 350 L 0 190" fill="#f8f2f3">
                    <animate
                        attributeName="d"
                        dur="5s"
                        values="M 0 190 C 1200 400 1200 50 3000 190 L 3000 350 L 0 350 L 0 190;
                        M 0 190 C 400 50 400 400 3000 190 L 3000 350 L 0 350 L 0 190;
                        M 0 190 C 1200 400 1200 50 3000 190 L 3000 350 L 0 350 L 0 190"
                        repeatCount="indefinite"
                        />
                    </path> 
                    </svg> 
                </div> 
            </section>
            <!-- end section -->
            <!-- start section -->
            <section class="overlap-height bg-very-light-gray pt-3 sm-pt-50px">
                <div class="container"> 
                   
                   
            </div>
        </section>
        <!-- end section -->