<!-- start banner slider -->
<section class="p-0 bg-dark-gray">
    <div id="heroSlider" class="swiper-container swiper full-screen ipad-top-space-margin md-h-600px sm-h-500px swiper-number-pagination-style-01 magic-cursor drag-cursor base-color" data-slider-options='{ "slidesPerView": 1, "loop": true, "pagination": { "el": ".swiper-number", "clickable": true }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 5000, "disableOnInteraction": false },  "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "fade" }' data-number-pagination="1" data-anime-text='{ "translateY": [50,0], "opacity": [0,1], "easing": "easeOutQuad", "duration": 500, "delay": { "staggervalue": 20 } }'>
        <div class="swiper-wrapper">

            <!-- SLIDE 1 -->
            <div class="swiper-slide">
                <!-- Background -->
                <div class="position-absolute left-0px top-0px w-100 h-100 cover-background"
                    style="background-image:url('/images/slider-1.webp');"
                    data-anime='{ "translateY": [0, 0], "opacity": [1,1], "scale": [1,1.1], "duration": 7000, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                </div>
                <!-- Overlay -->
                <div class="opacity-light bg-gradient-nero-grey-brown"></div>                
            </div>

            <!-- SLIDE 2 -->
            <div class="swiper-slide">
                <div class="position-absolute left-0px top-0px w-100 h-100 cover-background"
                    style="background-image:url('/images/slider-2.webp');"
                    data-anime='{ "translateY": [0, 0], "opacity": [1,1], "scale": [1,1.1], "duration": 7000, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                </div>
                <div class="opacity-light bg-gradient-nero-grey-brown"></div>                
            </div>

            <!-- SLIDE 3 -->
            <div class="swiper-slide">
                <div class="position-absolute left-0px top-0px w-100 h-100 cover-background"
                    style="background-image:url('/images/slider-3.webp');"
                    data-anime='{ "translateY": [0, 0], "opacity": [1,1], "scale": [1,1.1], "duration": 7000, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                </div>
                <div class="opacity-light bg-gradient-nero-grey-brown"></div>               
            </div>
        </div>

        <!-- pagination -->
        <div class="swiper-pagination swiper-number"></div>

        <!-- navigation -->
        <div class="slider-one-slide-prev-1 icon-very-small text-white swiper-button-prev slider-navigation-style-06 bg-black-transparent-light h-55px w-55px d-none d-sm-flex border-radius-100">
            <i class="fa-solid fa-chevron-left"></i>
        </div>

        <div class="slider-one-slide-next-1 icon-very-small text-white swiper-button-next slider-navigation-style-06 bg-black-transparent-light h-55px w-55px d-none d-sm-flex border-radius-100">
            <i class="fa-solid fa-chevron-right"></i>
        </div>

    </div>
</section>
<!-- end banner slider -->


  <!-- start section -->
  <div class="bg-gradient-top-very-light-gray overflow-hidden">
        <section class="pb-2 overflow-hidden">
            <div class="container-fluid">
                <div class="row justify-content-center mb-55px md-mb-50px">
                    <div class="col-11 col-md-11 text-start">
                        <h2 class="alt-font ls-minus-3px text-dark-gray mb-10px">Shop Men</h2>
                        <p class="mb-0">Power in everyday pieces</p>

                    </div>
                </div>
                <div class="row shop-modern d-flex justify-content-center align-items-center">
                    <div class="col-10 col-md-10 position-relative">
                        <div class="outside-box-right-5 outside-box-left-5 sm-outside-box-right-35 sm-outside-box-left-35" data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                            <div class="swiper overflow-visible" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 20, "loop": true, "autoplay": { "delay": 3000, "disableOnInteraction": false }, "pagination": { "el": ".swiper-pagination-bullets-01", "clickable": true, "dynamicBullets": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 4 }, "768": { "slidesPerView": 3 }, "320": { "slidesPerView": 3 } }, "effect": "slide" }'>
                                <div class="swiper-wrapper justify-content-center align-items-center ">
                                    <!-- start carousal item --> 
                                    <div class="swiper-slide grid-item" style="height: 280px; width: 280px;">
                                        <div class="shop-home-box mb-25px sm-mb-0" >
                                            <div class="shop-home-image mb-25px d-flex justify-content-center align-items-center " >
                                                <a href="" >
                                                    <img src="images/samp-shop-item.webp" alt="" style="border-radius: 40px;"> 
                                                </a>
                                            </div>
                                            <div class="shop-footer text-center">
                                                <a href="" class="fs-18 text-dark-gray fw-500">Rings <i class="fa-solid fa-arrow-right"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- end carousal item -->
                                    <!-- start carousal item --> 
                                    <div class="swiper-slide grid-item" style="height: 280px; width: 280px;">
                                        <div class="shop-home-box mb-25px sm-mb-0" >
                                            <div class="shop-home-image mb-25px d-flex justify-content-center align-items-center " >
                                                <a href="" >
                                                    <img src="images/samp-shop-item.webp" alt="" style="border-radius: 40px;"> 
                                                </a>
                                            </div>
                                            <div class="shop-footer text-center">
                                                <a href="" class="fs-18 text-dark-gray fw-500">Bracelet <i class="fa-solid fa-arrow-right"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- end carousal item -->
                                    <!-- start carousal item --> 
                                    <div class="swiper-slide grid-item" style="height: 280px; width: 280px;">
                                        <div class="shop-home-box mb-25px sm-mb-0" >
                                            <div class="shop-home-image mb-25px d-flex justify-content-center align-items-center " >
                                                <a href="" >
                                                    <img src="images/samp-shop-item.webp" alt="" style="border-radius: 40px;"> 
                                                </a>
                                            </div>
                                            <div class="shop-footer text-center">
                                                <a href="" class="fs-18 text-dark-gray fw-500">Pendants <i class="fa-solid fa-arrow-right"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- end carousal item -->
                                    <!-- start carousal item --> 
                                    <div class="swiper-slide grid-item" style="height: 280px; width: 280px;">
                                        <div class="shop-home-box mb-25px sm-mb-0" >
                                            <div class="shop-home-image mb-25px d-flex justify-content-center align-items-center " >
                                                <a href="" >
                                                    <img src="images/samp-shop-item.webp" alt="" style="border-radius: 40px;"> 
                                                </a>
                                            </div>
                                            <div class="shop-footer text-center">
                                                <a href="" class="fs-18 text-dark-gray fw-500">Chain <i class="fa-solid fa-arrow-right"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- end carousal item -->
                                   
                                </div>                             
                            </div>
                        </div>
                        <!-- start slider pagination -->
                        <!-- <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-style-01 swiper-pagination-bullets-01 position-static mt-40px"></div> -->
                        <!-- end slider pagination -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->

  <!-- start section -->
        <section class=" overflow-hidden ">
            <div class="container-fluid">
                <div class="row justify-content-center mb-55px md-mb-50px">
                    <div class="col-lg-11 col-md-11 text-start">
                        <h2 class="alt-font ls-minus-3px text-dark-gray mb-10px">Shop Women</h2>
                        <p class="mb-0">Modern sparkle for the unstoppable you</p>

                    </div>
                </div>
                <div class="row shop-modern d-flex justify-content-center align-items-center">
                    <div class="col-10 col-md-10 position-relative">
                        <div class="outside-box-right-5 outside-box-left-5 sm-outside-box-right-35 sm-outside-box-left-35" data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                            <div class="swiper overflow-visible" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 20, "loop": true, "autoplay": { "delay": 3000, "disableOnInteraction": false }, "pagination": { "el": ".swiper-pagination-bullets-01", "clickable": true, "dynamicBullets": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 4 }, "768": { "slidesPerView": 3 }, "320": { "slidesPerView": 3 } }, "effect": "slide" }'>
                                <div class="swiper-wrapper justify-content-center align-items-center ">
                                    <!-- start carousal item --> 
                                    <div class="swiper-slide grid-item" style="height: 280px; width: 280px;">
                                        <div class="shop-box mb-25px sm-mb-0" >
                                            <div class="shop-image mb-25px d-flex justify-content-center align-items-center " >
                                                <a href="" >
                                                    <img src="images/samp-shop-item.webp" alt="" style="border-radius: 40px;"> 
                                                </a>
                                            </div>
                                            <div class="shop-footer text-center">
                                                <a href="" class="fs-18 text-dark-gray fw-500">Rings <i class="fa-solid fa-arrow-right"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- end carousal item -->
                                    <!-- start carousal item --> 
                                    <div class="swiper-slide grid-item" style="height: 280px; width: 280px;">
                                        <div class="shop-box mb-25px sm-mb-0" >
                                            <div class="shop-image mb-25px d-flex justify-content-center align-items-center " >
                                                <a href="" >
                                                    <img src="images/samp-shop-item.webp" alt="" style="border-radius: 40px;"> 
                                                </a>
                                            </div>
                                            <div class="shop-footer text-center">
                                                <a href="" class="fs-18 text-dark-gray fw-500">Bracelet <i class="fa-solid fa-arrow-right"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- end carousal item -->
                                    <!-- start carousal item --> 
                                    <div class="swiper-slide grid-item" style="height: 280px; width: 280px;">
                                        <div class="shop-box mb-25px sm-mb-0" >
                                            <div class="shop-image mb-25px d-flex justify-content-center align-items-center " >
                                                <a href="" >
                                                    <img src="images/samp-shop-item.webp" alt="" style="border-radius: 40px;"> 
                                                </a>
                                            </div>
                                            <div class="shop-footer text-center">
                                                <a href="" class="fs-18 text-dark-gray fw-500">Necklace <i class="fa-solid fa-arrow-right"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- end carousal item -->
                                    <!-- start carousal item --> 
                                    <div class="swiper-slide grid-item" style="height: 280px; width: 280px;">
                                        <div class="shop-box mb-25px sm-mb-0" >
                                            <div class="shop-image mb-25px d-flex justify-content-center align-items-center " >
                                                <a href="" >
                                                    <img src="images/samp-shop-item.webp" alt="" style="border-radius: 40px;"> 
                                                </a>
                                            </div>
                                            <div class="shop-footer text-center">
                                                <a href="" class="fs-18 text-dark-gray fw-500">Earrings <i class="fa-solid fa-arrow-right"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- end carousal item -->
                                   
                                </div>                             
                            </div>
                        </div>
                        <!-- start slider pagination -->
                        <!-- <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-style-01 swiper-pagination-bullets-01 position-static mt-40px"></div> -->
                        <!-- end slider pagination -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->

</div>
 <section class="gift-section position-relative pt-5 sm-pt-50px pb-0">
    <div class="container overlap-gap-section">
        <div class="row align-items-center mb-6 ">

            <!-- RIGHT SIDE: Buttons + Heading -->
            <div class="col-lg-4 text-center">
                <h3 class="text-dark-gray fw-700 ls-minus-1px mb-4">
                    A gift that says more than words.
                </h3>

                <div class="d-flex flex-column align-items-center">
                    <a href="about.html" class="btn btn-small btn-double-border btn-border-base-color me-25px xs-me-15px" style="">
                                <span>
                                    <span class="btn-double-text" data-text="For protection">For protection</span> 
                                    <span><i class="fa-solid fa-arrow-right"></i></span>
                                </span>
                            </a>
                    <a href="about.html" class="mt-4 btn btn-small btn-double-border btn-border-base-color me-25px xs-me-15px" style="">
                                <span>
                                    <span class="btn-double-text" data-text="For protection">For everyday gifting</span> 
                                    <span><i class="fa-solid fa-arrow-right"></i></span>
                                </span>
                            </a>
                    <a href="about.html" class="mt-4 btn btn-small btn-double-border btn-border-base-color me-25px xs-me-15px" style="">
                                <span>
                                    <span class="btn-double-text" data-text="For protection">For party gifting</span> 
                                    <span><i class="fa-solid fa-arrow-right"></i></span>
                                </span>
                            </a>
                </div>
                

                <h3 class="text-dark-gray fw-200 ls-minus-1px mt-4" style="font-style: italic;">
                    Make them smile the moment they open it.
                </h3>
            </div>

            <!-- LEFT SIDE: Feature Image Grid -->
            <div class="col-lg-8 md-mb-50px">
                <div class="feature-grid">
                    <div class="feature-box feature-box-gift bg-1 d-flex justify-content-center align-items-center">
                        <p class="feature-text text-center">For him</p>
                    </div>

                    <div class="feature-box feature-box-gift bg-2 d-flex justify-content-center align-items-center">
                        <p class="feature-text text-center">For her</p>
                    </div>

                    <div class="feature-box feature-box-gift bg-3 d-flex justify-content-center align-items-center">
                        <p class="feature-text text-center">From 499/-</p>
                    </div>

                    <div class="feature-box feature-box-gift bg-4 d-flex justify-content-center align-items-center">
                        <p class="feature-text text-center">Under 1599/-</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>






 <!-- start section --> 
        <section class="pb-2 pt-2 overlap-height sm-pb-50px m-4">
            <div class=" overlap-gap-section">
                <div class="row justify-content-center ">
                    <div class="col-lg-11 col-md-11 text-start" style="margin-left: -4rem;">
                        <h2 class="alt-font ls-minus-3px text-dark-gray mb-10px">MnR Journal</h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="blog-classic blog-wrapper grid-loading grid grid-2col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-1col xs-grid-1col gutter-extra-large" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                            <li class="grid-sizer"></li>
                      
                            <!-- start blog item -->
                            <li class="grid-item border m-1 w-45">
                                <div class="card bg-transparent border-0 h-100">
                                    <div class="blog-image position-relative overflow-hidden border-radius-6px">
                                        <a href="demo-real-estate-blog-single-creative.html"><img src="/images/sample-blog-img.jpg" class="blog-img" alt="" /></a>
                                    </div>
                                    <div class="card-body px-0 pb-30px pt-30px xs-pb-15px">
                                        <span class="fs-14 text-uppercase"><a href="#" class="text-dark-gray fw-500 categories-text">Jewellery</a><a href="#" class="blog-date">18 August 2023</a></span>
                                        <a href="demo-real-estate-blog-single-creative.html" class="card-title alt-font fw-600 lh-30 text-dark-gray d-inline-block w-100 fs-19">Lorem ipsum dolor, sit amet amet consectetur adipisicing.</a>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quo dolores nisi voluptate earum accusamus est quibusdam corporis, mollitia optio sit voluptatum, praesentium quam dolor ipsum cumque sapiente! Vitae, explicabo!</p>
                                    </div>
                                    <a href="demo-jewellery-store-single-product.html" class="alt-font btn btn-small btn-box-shadow btn-dark-gray btn-round-edge left-icon add-to-cart">
                                        <span class="quick-view-text button-text">Read more</span>
                                    </a>
                                </div>
                            </li>
                            <!-- end blog item -->
                            <!-- start blog item -->
                            <li class="grid-item border m-1 w-45">
                                <div class="card bg-transparent border-0 h-100">
                                    <div class="blog-image position-relative overflow-hidden border-radius-6px">
                                        <a href="demo-real-estate-blog-single-creative.html"><img src="/images/sample-blog-img.jpg" class="blog-img" alt="" /></a>
                                    <div class="card-body px-0 pb-30px pt-30px xs-pb-15px">
                                        <span class="fs-14 text-uppercase"><a href="#" class="text-dark-gray fw-500 categories-text">Jewellery</a><a href="#" class="blog-date">18 August 2023</a></span>
                                        <a href="demo-real-estate-blog-single-creative.html" class="card-title alt-font fw-600 lh-30 text-dark-gray d-inline-block w-100 fs-19">Lorem ipsum dolor, sit amet amet consectetur adipisicing.</a>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quo dolores nisi voluptate earum accusamus est quibusdam corporis, mollitia optio sit voluptatum, praesentium quam dolor ipsum cumque sapiente! Vitae, explicabo!</p>
                                    </div>
                                       <a href="demo-jewellery-store-single-product.html" class="alt-font btn btn-small btn-box-shadow btn-dark-gray btn-round-edge left-icon add-to-cart w-100">
                                        <span class="quick-view-text button-text">Read more</span>
                                    </a>
                            </li>
                            <!-- end blog item -->
                           
                        </ul>
                        
                    </div>
                </div> 
            </div>
        </section>
        <!-- end section -->

          <!-- start section -->
        <section id="down-section" class="position-relative pt-4 pb-4 sm-pb-50px">
            <div class="container">
                
                <div class="row justify-content-center mb-2">
                    <div class="col-lg-10 text-start" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                        <h2 class="alt-font text-dark-gray ls-minus-1px">Our promise to you</h2>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2 align-items-center justify-content-center mb-5 md-mb-9" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    <!-- start features box item -->  
                    <div class="col icon-with-text-style-10 md-mb-50px sm-mb-30px border-end border-color-extra-medium-gray">
                        <div class="feature-box">
                            <div class="feature-box-icon feature-box-icon-rounded w-120px h-120px rounded-circle mb-25px">
                                <img src="/images/silver.png" class="h-65px" alt="">
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="d-inline-block primary-font fw-500 text-dark-gray mb-5px fs-19">925 sterling silver</span>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col icon-with-text-style-10 md-mb-50px sm-mb-30px border-end md-border-end-0 border-color-extra-medium-gray">
                        <div class="feature-box">
                            <div class="feature-box-icon feature-box-icon-rounded w-120px h-120px rounded-circle mb-25px">
                                <img src="/images/hypoallergenic.png" class="h-65px" alt="">
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="d-inline-block primary-font fw-500 text-dark-gray mb-5px fs-19">Hypoallergenic </span>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col icon-with-text-style-10 sm-mb-30px border-color-extra-medium-gray">
                        <div class="feature-box">
                            <div class="feature-box-icon feature-box-icon-rounded w-120px h-120px rounded-circle mb-25px">
                                <img src="/images/warrenty'.png" class="h-65px" alt="">
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="d-inline-block primary-font fw-500 text-dark-gray mb-5px fs-19">6 month warranty </span>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!-- end features box item -->
                <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2 align-items-center justify-content-center mb-5 md-mb-9" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                         <!-- start features box item -->  
                    <div class="col icon-with-text-style-10 md-mb-50px sm-mb-30px border-end border-color-extra-medium-gray">
                        <div class="feature-box">
                            <div class="feature-box-icon feature-box-icon-rounded w-120px h-120px rounded-circle mb-25px">
                                <img src="/images/safe-for-sensitive-skin.png" class="h-65px" alt="">
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="d-inline-block primary-font fw-500 text-dark-gray mb-5px fs-19">Safe for sensitive skin</span>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col icon-with-text-style-10 md-mb-50px sm-mb-30px border-end md-border-end-0 border-color-extra-medium-gray">
                        <div class="feature-box">
                            <div class="feature-box-icon feature-box-icon-rounded w-120px h-120px rounded-circle mb-25px">
                                <img src="/images/certified.png" class="h-65px" alt="">
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="d-inline-block primary-font fw-500 text-dark-gray mb-5px fs-19">Certified authenticity </span>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col icon-with-text-style-10 sm-mb-30px border-color-extra-medium-gray">
                        <div class="feature-box">
                            <div class="feature-box-icon feature-box-icon-rounded w-120px h-120px rounded-circle mb-25px">
                                <img src="/images/timeless-investment.png" class="h-65px" alt="">
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="d-inline-block primary-font fw-500 text-dark-gray mb-5px fs-19">Timeless investment
                </span>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                </div>
                </div>
            </div>
        </section>
        <!-- end section -->
         <!-- start section -->
        <section class="p-0 position-relative">
            <div class="container-fluid p-0">
                <div class="row row-cols-3 row-cols-md-6 instagram-follow-api position-relative g-0 d-flex justify-content-center align-items-center">
                    <div class="col instafeed-grid ">
                        <figure class="border-radius-0px"><a href="https://www.instagram.com/mnrjewels?igsh=MTg2dGVmc3oxZW5ocA==" target="_blank"><img src="/images/insta-samp-post-1.jpg" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>  
                    <div class="col instafeed-grid ">
                        <figure class="border-radius-0px"><a href="https://www.instagram.com/mnrjewels?igsh=MTg2dGVmc3oxZW5ocA==" target="_blank"><img src="/images/insta-samp-post-2.jpg" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                    <div class="col instafeed-grid ">
                        <figure class="border-radius-0px"><a href="https://www.instagram.com/mnrjewels?igsh=MTg2dGVmc3oxZW5ocA==" target="_blank"><img src="/images/insta-samp-post-3.jpg" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                    <div class="col instafeed-grid ">
                        <figure class="border-radius-0px"><a href="https://www.instagram.com/mnrjewels?igsh=MTg2dGVmc3oxZW5ocA==" target="_blank"><img src="/images/insta-samp-post-4.jpg" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                    <div class="col instafeed-grid ">
                        <figure class="border-radius-0px"><a href="https://www.instagram.com/mnrjewels?igsh=MTg2dGVmc3oxZW5ocA==" target="_blank"><img src="/images/insta-samp-post-3.jpg" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                    <div class="col instafeed-grid ">
                        <figure class="border-radius-0px"><a href="https://www.instagram.com/mnrjewels?igsh=MTg2dGVmc3oxZW5ocA==" target="_blank"><img src="/images/insta-samp-post-4.jpg" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                  
                    <a href="https://www.instagram.com/mnrjewels?igsh=MTg2dGVmc3oxZW5ocA==" target="_blank" class="instagram-button alt-font absolute-middle-center bg-white w-120px h-120px md-w-90px md-h-90px text-dark-gray border-radius-100px box-shadow-extra-large d-flex align-items-center justify-content-center"><i class="feather icon-feather-instagram icon-medium"></i></a>
                </div> 
            </div>
        </section>
        <!-- end section -->




          <section class="border-top border-color-extra-medium-gray p-4 " style="margin-bottom: -4rem; background-color: #9FA878">
            <div class="container col-10">
                <div class="row  justify-content-center align-items-center">
                    <div class="col-lg-8 icon-with-text-style-01 md-mb-20px" data-anime='{ "translateX": [-50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                        <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                           
                            <div class="feature-box-content">
                                <h4 class="text-white fw-500 alt-font mb-0 ls-minus-1px">Early access, real offers, trusted updates only.</h4>
                                <p class="text-white fw-100 alt-font mb-0 ls-minus-1px">Get early access to new drops, indulgent offers, care tips, and member-only surprises. Redefining the luxury space for you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-anime='{ "translateX": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }' > 
                        <div class="newsletter-style-04 position-relative " >
                            <form action="email-templates/subscribe-newsletter.php" method="post" class="position-relative w-100">
                                <div class="position-relative">
                                    <input class="p-2 input-large alt-font w-100 border-0 border-bottom border-1 border-color-dark-gray form-control required" type="email" name="email" placeholder="Enter your email address" style="border-radius: 40px;"  />
                                    <input type="hidden" name="redirect" value="" >
                                    <button class="btn p-2 fw-500 submit text-capitalize text-base-color border border-radius-40px"><i class="icon feather icon-feather-mail icon-small  me-5px"></i>Submit</button>
                                </div>
                                <div class="form-results border-radius-0px p-15px fs-16 lh-24 w-100 text-center d-none"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section> 