   <!-- start section -->
        <section class="bg-base-color text-white mt-4" id="journalPage"> 
            <div class="container"> 
                 <div class="row mb-0">
    <div class="heading">
        <h3 class="text-uppercase mb-1 text-center" style="font-size: 2rem; "><a  class="text-white border-bottom"> M&R Journal</a></h3>
      </div>
    </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <ul class="blog-classic blog-wrapper grid-loading grid grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-double-extra-large" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 150, "easing": "easeOutQuad" }'>
                            <li class="grid-sizer"></li>
                            <!-- start blog item -->
                            <li class="grid-item">
                                <div class="card bg-transparent border-0 h-100">
                                    <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                        <a href="demo-decor-store-blog-single-classic.html"><img src="/images/sample-blog-img.jpg" alt="" /></a>
                                    </div>
                                    <div class="card-body px-0 pt-10px pb-30px xs-pb-15px">
                                     
                                        <a href="/blogs/about-us-blog" class="card-title alt-font fw-600 fs-17 lh-30 text-white d-inline-block w-95 xs-w-100 text-underline " style="margin-bottom: 3rem !important;">About us - Rathod Jewellers embarked on a journey to establish </a>
                                        <hr class="mb-0 mt-3"/>
                                           <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="/blogs/about-us-blog" class="text-white fw-700 categories-text">About Us </a><a href="/blogs/about-us-blog" class="blog-date text-white">08 August 2023</a></span>
                                    </div>
                                </div>
                            </li>
                            <!-- end blog item --> 
                            <!-- start blog item -->
                            <li class="grid-item">
                                <div class="card bg-transparent border-0 h-100">
                                    <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                        <a href="demo-decor-store-blog-single-classic.html"><img src="/images/sample-blog-img.jpg" alt="" /></a>
                                    </div>
                                    <div class="card-body px-0 pt-10px pb-30px xs-pb-15px">
                                        
                                        <a href="/blogs/how-to-layer-silver-chains-the-right-way" class="card-title alt-font fw-600 fs-17 lh-30 text-white d-inline-block w-95 xs-w-100 text-underline " style="margin-bottom: 3rem !important;">How to Layer Silver Chains the Right Way</a>
                                        <hr class="mb-0 mt-3"/>
                                        <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="/blogs/how-to-layer-silver-chains-the-right-way" class="text-white fw-700 categories-text">Jewellery</a><a href="/blogs/how-to-layer-silver-chains-the-right-way" class="blog-date text-white">08 August 2023</a></span>
                                    </div>
                                </div>
                            </li>
                            <!-- end blog item --> 
                            <!-- start blog item -->
                            <li class="grid-item">
                                <div class="card bg-transparent border-0 h-100">
                                    <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                        <a href="affordable-silver-gifts-under-1499-for-every-occasion"><img src="/images/sample-blog-img.jpg" alt="" /></a>
                                    </div>
                                    <div class="card-body px-0 pt-10px pb-30px xs-pb-15px">
                                       
                                        <a href="/blogs/affordable-silver-gifts-under-1499-for-every-occasion" class="card-title alt-font fw-600 fs-17 lh-30 text-white d-inline-block w-95 xs-w-100 text-underline " style="margin-bottom: 3rem !important;">Affordable Silver Gifts Under ₹1499 for Every Occasion</a>
                                        <hr class="mb-0 mt-3"/>
                                         <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="/blogs/affordable-silver-gifts-under-1499-for-every-occasion" class="text-white fw-700 categories-text">Gifting</a><a href="/blogs/affordable-silver-gifts-under-1499-for-every-occasion" class="blog-date text-white">08 August 2023</a></span>
                                    </div>
                                </div>
                            </li>
                            <!-- end blog item --> 
                         
                        </ul>
                    </div>
                   
                </div>
            </div>
        </section>
        <!-- end section -->
        <style>
html, body{
    overflow-x: hidden;
}

        @media (max-width: 992px) {
#journalPage{
    margin-top: 8rem !important;
}
}

</style>
